---
import Layout from "../layouts/Layout.astro";
import ProfilePicture from "../components/ProfilePicture.astro";
import * as aboutPageMd from '../content/about.md';


---

<Layout title="About me">
    <section class="mx-auto">
        <ProfilePicture />
        <div class="text-center mx-auto prose">
            <aboutPageMd.Content />
        </div>
        <div class="py-8">
            <a href="/" class="hover:text-blue-400">{"<- Back to Home"}</a>
        </div>
    </section>
</Layout>
