---
import Layout from "../layouts/Layout.astro";
import ProfilePicture from "../components/ProfilePicture.astro";

const aboutPage = await Astro.glob('../content/*.md');

const markdown = aboutPage[0];
---

<Layout title="About me">
    <section class="mx-auto">
        <ProfilePicture />
        <div class="text-center mx-auto prose">
            <markdown.Content></markdown.Content>
        </div>
        <div class="py-8">
            <a href="/" class="hover:text-blue-400">{"<- Back to Home"}</a>
          </div>
    </section>
</Layout>
