---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Certificates">
    <h1 class="text-2xl mb-10">Here are the certificates I obtain during my courses at SoftUni:</h1>
    <ul class="flex flex-col gap-4 items-center">
        <li>
            <a href="https://softuni.bg/certificates/details/112199/2d89b395" target="_blank" class="font-bold">
                Programming Basics
                <button class="p-2 bg-slate-800 text-white rounded hover:bg-opacity-80">Show Credentials</button>
            </a>
        </li>

        <li> 
            <a href="https://softuni.bg/certificates/details/120083/a20c71a4" target="_blank" class="font-bold">
                Programming Fundamentals with C#
                <button class="p-2 bg-slate-800 text-white rounded hover:bg-opacity-80">Show Credentials</button>
            </a>
        </li>

        <li> 
            <a href="https://softuni.bg/certificates/details/123637/201b7e87" target="_blank" class="font-bold">
                C# Advanced
                <button class="p-2 bg-slate-800 text-white rounded hover:bg-opacity-80">Show Credentials</button>
            </a>
        </li>

        <li> 
            <a href="https://softuni.bg/certificates/details/126614/abc7e31f" target="_blank" class="font-bold">
                JS Advanced
                <button class="p-2 bg-slate-800 text-white rounded hover:bg-opacity-80">Show Credentials</button>
            </a>
        </li>

        <li> 
            <a href="https://softuni.bg/certificates/details/130392/d3cc0d78" target="_blank" class="font-bold">
                JS Applications
                <button class="p-2 bg-slate-800 text-white rounded hover:bg-opacity-80">Show Credentials</button>
            </a>
        </li>
        
        <li> 
            <a href="https://softuni.bg/certificates/details/130973/90914e6e" target="_blank" class="font-bold">
                C# OOP
                <button class="p-2 bg-slate-800 text-white rounded hover:bg-opacity-80">Show Credentials</button>
            </a>
        </li>

        <li> 
            <a href="https://softuni.bg/certificates/details/137099/1d8ee7dc" target="_blank" class="font-bold">
                JS Back-End
                <button class="p-2 bg-slate-800 text-white rounded hover:bg-opacity-80">Show Credentials</button>
            </a>
        </li>

        <li> 
            <a href="https://softuni.bg/certificates/details/140624/152e8861" target="_blank" class="font-bold">
                ReactJS
                <button class="p-2 bg-slate-800 text-white rounded hover:bg-opacity-80">Show Credentials</button>
            </a>
        </li>
    </ul>

    <div class="py-8">
        <a href="/" class="hover:text-blue-400">{"<- Back to Home"}</a>
    </div>
</Layout>