---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Nikolay Angelov JavaScipt Web Developer">


		<section class="flex flex-col items-center text-white">
			<div class="w-48 lg:w-96 flex-shrink-0">
				<img src="/profile-photo.jpg" class="w-full rounded-full"/>
			</div>
			<h1 class="text-6xl text-center leading-tight">
				Hi
				<br />
				I'm <span class="gradient-text">Nikolay</span>,
				<br />
				web developer
			</h1>
			<h3 class="text-xl italic mt-4">I like code, guitar and creating stuff</h3>
		</section>
		

</Layout>

<style>
	.gradient-text {
		font-size: 72px;
		background: -webkit-linear-gradient(#4f39fa, #da62c4);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
	}
</style>
