---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Nikolay Angelov personal site">


	<main>
		<section class="">
			<h3 class="text-2xl">The personal site of</h3>
			<h1 class=" text-5xl">Nikolay Angelov</h1>
		</section>
		

	</main>
</Layout>
