---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Nikolay Angelov JavaScipt Web Developer">


		<section class="">
			<div class="w-48 lg:w-96 flex-shrink-0">
				<img src="/profile-photo.jpg" class="w-full rounded-full"/>
			</div>
			<h1 class="text-6xl leading-tight">
				Hi
				<br />
				I'm <span class="gradient-text">Nikolay</span>,
				<br />
				web developer
			</h1>
			<h3 class="text-xl italic mt-4">I like code, guitar and creating stuff</h3>
		</section>
		

		<section class="mt-20">
			<h2 class="text-2xl">About me</h2>
			<p class="my-4">
				I started coding in the summer of 2021 and I decided that's what I want to do.
				I am JavaScript enthusiast and recently started using Typescript.
				<br />
				I created this site just to play with 
				<a href="https://astro.build/" class="text-blue-400 hover:underline">Astro</a>
				&hellip;
			</p>
			<a href="/about" class="text-blue-400 hover:underline">Learn More</a>
		</section>
</Layout>

<style>
	.gradient-text {
		font-size: 72px;
		background: -webkit-linear-gradient(#4f39fa, #da62c4);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
	}
</style>
