---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Nikolay Angelov personal site">


	<main>
		<section class="">
			<h1 class="text-6xl leading-tight">
				Hi
				<br />
				I'm <span class="gradient-text">Nikolay</span>,
				<br />
				web developer
			</h1>
		</section>
		

	</main>
</Layout>

<style>
	.gradient-text {
		font-size: 72px;
		background: -webkit-linear-gradient(#4f39fa, #da62c4);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
	}
</style>
