---
export interface Props {
	title: string;
	description?: string;
}

const { title, description } = Astro.props as Props;
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/x-icon" href="/favicon.ico" />
		<meta name="generator" content={Astro.generator} />
		<meta name="description" content={description}/>
		<title>{title}</title>
	</head>
	
	<body class="bg-pink-50">
		<main class="px-4 md:px-20 py-12 text-center">
			<slot />

		</main>
	</body>

</html>
